.footer__copyright {
  padding: 45px 0 45px 0;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
