.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 19px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.modal__container {
  box-sizing: border-box;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  width: 100%;
}

.modal__close {
  background-image: url("../images/CloseIcon.svg");
  border: none;
  background-color: transparent;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  background-repeat: none;
  background-size: contain;
  position: absolute;
}

.modal__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0 0 54px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
  padding: 0;
}

.modal__button {
  margin: 18.26px 0 0;
  border-radius: 2px;
  width: 100%;
  height: 50.15px;
  color: #fff;
  background-color: #000;
  padding: 0;
  border-style: none;
  transition: background-color 0.3s ease;
}

.modal__button:hover {
  background-color: #444;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__container-preview {
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__container-preview .modal__image {
  max-width: 816px;
  max-height: 540px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.modal__container-preview .modal__caption {
  margin-top: 10px;
  font-size: 16px;
  color: white;
  text-align: left;
}

.modal_type_image .modal__close {
  position: absolute;
  top: -45px;
  right: -45px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 628px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0 22px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 21.78px;
    margin: 25px 0 75px 0;
  }

  .modal__close {
    left: 90%;
    bottom: calc(100% + 13px);
    width: 26px;
    height: 26px;
  }

  .modal__button {
    padding: 0;
    margin: 15.26px 0 0;
  }
}

/* Media query for devices with a max width of 768px (tablets and smaller) */
@media screen and (max-width: 768px) {
  .modal_type_image .modal__container {
    max-width: 90vw;
    max-height: 90vh;
    padding: 10px;
  }

  .modal_type_image .modal__close {
    top: -35px; /* Adjust the button's position */
    right: -35px;
    width: 30px;
    height: 30px;
  }

  .modal_type_image .modal__caption {
    font-size: 14px; /* Make the caption slightly smaller */
    margin-top: 8px;
  }
}

/* Media query for devices with a max width of 480px (phones and smaller) */
@media screen and (max-width: 480px) {
  .modal_type_image .modal__container {
    max-width: 95vw;
    max-height: 85vh;
    padding: 8px;
  }

  .modal_type_image .modal__close {
    top: -30px; /* Adjust further for very small screens */
    right: -30px;
    width: 25px;
    height: 25px;
  }

  .modal_type_image .modal__caption {
    font-size: 12px; /* Reduce caption size further for small screens */
  }
}
